<app-toolbar (navbarEventEmitter)="sidenav.toggle()"></app-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <app-promoter-sidebar></app-promoter-sidebar>


  </mat-sidenav>

  <div class="example-button-row mt-4" style="float: right; margin-bottom:10px; margin-right: 8px;">

    <div class="container-fluid">
      <form class="d-flex">

        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
          style="width:20rem; border: 2px solid #1e88e5 ">
        <!-- <button class="btn btn-outline-success" type="submit" style="background-color: #1e88e5; border:none;color:#fff; padding:0px 20px 0px 20px">Search</button> -->
      </form>
    </div>


  </div>




  <div class="container-fluid mt-4 ">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSort matSortActive="promoterName"
      matSortDisableClear>

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="_tab"> Id </th>
      <td mat-cell *matCellDef="let element" class="_rows"> {{element.position}} </td>
    </ng-container> -->

      <!-- Name Column -->
      <ng-container matColumnDef="promoterName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="_tab"> Promoter's Name </th>
        <td mat-cell *matCellDef="let element" style=" color:grey" > {{element.promoterName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="sellerName">
        <th mat-header-cell *matHeaderCellDef class="_tab ">Seller's Name </th>
        <td mat-cell *matCellDef="let element" class="_rows "> {{element.sellerName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="brandName">
        <th mat-header-cell *matHeaderCellDef class="_tab ">Brand Name</th>
        <td mat-cell *matCellDef="let element" class="_rows"> {{element.brandName}} </td>
      </ng-container>
      <ng-container matColumnDef="promoCode">
        <th mat-header-cell *matHeaderCellDef class="_tab ">Promo Code </th>
        <td mat-cell *matCellDef="let element" class="_rows"> {{element.promoCode}} </td>
      </ng-container>

      <ng-container matColumnDef="percentageOnBrand">
        <th mat-header-cell *matHeaderCellDef class="_tab "> % On Brand </th>
        <td mat-cell *matCellDef="let element" class="_rows"> {{element.percentageOnBrand}} </td>
      </ng-container>


      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef class="_tab "> Date</th>
        <td mat-cell *matCellDef="let element" class="_rows ">{{element.createdAt | date:'short':'IST'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  
  </div>

</mat-sidenav-container>