mat-sidenav {
    width: 250px;
    background:  #DCDCDC;

  }
  
  .mat-drawer-container{
    height: 500px!important;
  }
  
  .mat-drawer-container {
    height: 650px!important;
    
  }  
  .nav-item :hover {
    background:#1e88e5 ;
    opacity: 0.9;
  
  }
  
  .nav-link {
    font-size: 16PX!important;
    text-shadow: 0 0 0 black;
    font-style: inherit;
    
    
  }
  
  a.active {
    background:  #1e88e5!important;
    
    color: #fff;
  }
  