<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<router-outlet><app-spinner></app-spinner></router-outlet>


<!--

<mat-sidenav-container>

	<app-toolbar (navbarEventEmitter)="sidenav.toggle()"></app-toolbar>

	<mat-sidenav #sidenav mode="side">
		<app-sidenav></app-sidenav>
	</mat-sidenav>

	<router-outlet></router-outlet>

</mat-sidenav-container>-->