

<div class="example-button-row" style="float: right; margin-bottom:10px; margin-right: 8px;">
  <nav class="navbar navbar-light bg-light" style="width:28rem;">
      <div class="container-fluid">
        <form class="d-flex" >
    
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width:20rem;">
          <!-- <button class="btn btn-outline-success" type="submit" style="background-color: #1e88e5; border:none;color:#fff; padding:0px 20px 0px 20px">Search</button> -->
        </form>
      </div>
    </nav>
  
</div>

<div class="example-button-row" style="float: right; margin-bottom:10px; margin-right:10px;">

  <button mat-raised-button color="primary" [routerLink]="'/add-product'">Primary</button>
  
  
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="font-size: 19px;"><b>Product Id</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="font-size: 19px;"><b>Product Name</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef style="font-size: 19px;"><b>Product image</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.image}} </td>
    </ng-container>
    <ng-container matColumnDef="Stock">
      <th mat-header-cell *matHeaderCellDef style="font-size: 19px;"> <b>Stock </b></th>
      <td mat-cell *matCellDef="let element"> {{element.Stock}} </td>
    </ng-container>
  
    
  
  
      <ng-container matColumnDef="columndelete">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef style="font-size: 19px;"> <b>Delete</b></th>
        <td  mat-cell *matCellDef="let element">       
          <mat-icon>delete</mat-icon> </td>
      </ng-container>
  
      <ng-container matColumnDef="columnedit">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef style="font-size: 19px;"><b> Edit</b></th>
        <td  mat-cell *matCellDef="let element">       
          <mat-icon  [routerLink]="'/edit'">edit</mat-icon> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>