<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" placeholder="search">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th style="width:5%;" mat-header-cell *matHeaderCellDef> User Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  
  <ng-container matColumnDef="password">
    <th style="width:5%;" mat-header-cell *matHeaderCellDef> Password </th>
    <td mat-cell *matCellDef="let element"> {{element.password}} </td>
  </ng-container>

  <ng-container matColumnDef="mob">
      <th style="width:5%;" mat-header-cell *matHeaderCellDef> Contact Number </th>
      <td mat-cell *matCellDef="let element"> {{element.mob}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  