.card{
    /* margin: 2em auto; */
    box-shadow: 2px 2px 2px 3px #888888 !important;
    display: inline-block;
  }
  .viewprofie {
    display: flex;
}
img.profile-pic {
    width: 55%;
    margin: 46px;
}
.content {
    width: 100%;
}
.card-title.ng-star-inserted {
    color: black;
    font-size: 22px;
    font-family: auto;
    padding-left: 14px;
}
.content {
    padding-top: 40px;
}