
.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .mat-radio-label {
    padding-left: 3.5px;
  }
  .my-card { 
    display: table;
    margin: 2em auto;
    box-shadow: 2px 2px 2px 3px #888888 !important;
  }
  /* .sign-section{
    background-image: url(assets/images/background/sign-inbg.jpg) !important;
    background-size:100% ;
  } */
  button.mat-raised-button.mat-button-base.mat-primary {
    margin-left: 15px;
  }
  .mat-radio-button {
    padding-left: 5px;
  }
        
