<app-toolbar (navbarEventEmitter)="sidenav.toggle()"></app-toolbar>
<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side">
    <app-promoter-sidebar></app-promoter-sidebar>
  </mat-sidenav>

  <div class="example-button-row mt-4" style="float: right; margin-bottom:10px; margin-right: 8px;">

    <div class="container-fluid">
      <form class="d-flex">

        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
          (keyup)="applyFilter($event.target.value)" style="width:20rem; border: 2px solid #1e88e5 ">
        <!-- <button class="btn btn-outline-success" type="submit" style="background-color: #1e88e5; border:none;color:#fff; padding:0px 20px 0px 20px">Search</button> -->
      </form>
    </div>


  </div>
  <!-- Button trigger modal -->


  <div class="container-fluid mt-4 ">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSort matSortActive="Name"
      matSortDisableClear>

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="_tab"> Id </th>
      <td mat-cell *matCellDef="let element" class="_rows"> {{element.position}} </td>
    </ng-container> -->

      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef class="_tab " [hidden]=true> <b>id</b></th>
        <td mat-cell *matCellDef="let element" class="_rows " style="float: center;" [hidden]=true> {{element._id}}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="_tab " style="padding-left: 10px;"> Name </th>
        <td mat-cell *matCellDef="let element" (click)="openDialog(element._id)"
          style="color:grey ; padding-left: 10px;"> <button mat-raised-button color="warn"
            style="outline: none;">{{element.Name}}</button> </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef class="_tab">User Name</th>
        <td mat-cell *matCellDef="let element" class="_rows"> {{element.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef class="_tab ">Email</th>
        <td mat-cell *matCellDef="let element" class="_rows "> {{element.Email}} </td>
      </ng-container>

      <ng-container matColumnDef="mobileNumber">
        <th mat-header-cell *matHeaderCellDef class="_tab ">Contact No.</th>
        <td mat-cell *matCellDef="let element" class="_rows "> {{element.mobileNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef class="_tab ">Address </th>
        <td mat-cell *matCellDef="let element" class="_rows "> {{element.Address}} </td>
      </ng-container>

      <ng-container matColumnDef="BankName">
        <th mat-header-cell *matHeaderCellDef class="_tab ">Bank Name</th>
        <td mat-cell *matCellDef="let element" class="_rows "> {{element.BankName}} </td>
      </ng-container>

      <ng-container matColumnDef="AccountNo">
        <th mat-header-cell *matHeaderCellDef class="_tab ">Account No.</th>
        <td mat-cell *matCellDef="let element" class="_rows "> {{element.AccountNo}} </td>
      </ng-container>


      <ng-container matColumnDef="IFSCCode">
        <th mat-header-cell *matHeaderCellDef class="_tab">IFSC Code</th>
        <td mat-cell *matCellDef="let element" class="_rows"> {{element.IFSCCode}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  
  </div>
</mat-sidenav-container>