<form>
    
       
    <div class="rr" style="margin-bottom: 30px;padding-left: 7rem;">
        <label style="color:black"><b>Categor Name:</b></label>&nbsp;&nbsp;&nbsp;
         <input type="number" class="text-mnm" placeholder="Category *">
       </div>
       <div class="form-group" style="margin-top: 5px; padding-left: 6.4rem;">
        <label for="exampleFormControlFile1" style="color:black"><b>Category Image:</b></label> &nbsp;&nbsp;
        <input type="file" class="form-control-file " id="exampleFormControlFile1">
      </div>
    <div class="example-button-row" style="margin-bottom: 1rem; margin-left: 22rem; margin-top: 20px;">
     
        <button mat-raised-button color="primary" [routerLink]="'/'">Submit</button>
      </div>
     

</form>
